@model Yongqing.ViewModels.BooksViewModel
@{
    ViewData["Title"] = "新增書籍";
}
@await Html.PartialAsync("_ViewResult")

<h2>@ViewData["Title"]</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublishDate"></label>
        <input asp-for="PublishDate" class="form-control" type="date" />
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">儲存</button>
    <a asp-action="Index" class="btn btn-secondary">返回</a>
</form>